<!-- <div class="app-test">
   
</div> -->

<!-- <app-basics></app-basics> -->

<!-- <h1>{{message}}</h1>
 <app-interact (guruEvent)="message=$event" [parentData]="name"></app-interact> -->

 <!-- <app-interact [parentData]="name1"></app-interact> -->

 <!-- <app-interact [AttuParent]="Sirname"></app-interact> -->
<!-- <app-interact [India]="moviename"></app-interact> -->


<!-- <app-interaction [VehicleName]="Name"></app-interaction> -->

<!-- <app-interaction [Company]="CompanyName"></app-interaction> -->

<!-- <app-interact [Ground]="PlayerName"></app-interact> -->













<h1>{{message}}</h1>                                       

<app-interaction (guruEvent)="message=$event"></app-interaction>
 

